.timeline-container {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

.timeline-box {
  display: flex;
  border: 1px solid red;
  margin: 10px;
  height: 10px;
  position: relative;
}
