<div class="app-body-content">
  <div class="app-content-toolbar">
    <h1 *ngIf="timeline && !isTimelineEditMode">{{timeline.label}}</h1>

    <span *ngIf="isTimelineEditMode">
      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Title"
          required
          name="timeline_label"
          #timelineLabel="ngModel"
          [(ngModel)]="timeline.label" />
      </mat-form-field>

      <div id="essay-editor"
           (froalaInit)="initializeTimelineDescriptionEditor($event)"
           [(froalaModel)]="timeline.description"
           [froalaEditor]></div>

      <button mat-icon-button class="material-icons" (click)="editTimeline()">
        save
      </button>

      <button mat-icon-button class="material-icons" (click)="closeTimelineEditoMode()">close</button>
    </span>

    <button *ngIf="!isTimelineEditMode" mat-icon-button class="material-icons" (click)="activateTimelineEditMode()">
      edit
    </button>
  </div>

  <div id="timeline_timespan">
    <h3 *ngIf="timeline && !isTimelineEditMode">Spans {{this.timelineSpanInYears}} years</h3>
  </div>

  <span *ngIf="timeline && timeline.description" [innerHtml]="timeline.description | safeHtml"></span>

  <div id="timeline-container" class="timeline-container" (dblclick)="showCursorLine($event)">
    <app-category
      *ngFor="let category of categoryEvents"
      [category]="category"
      [persons]="persons"
      [timeline]="timeline"
      [categoryEvents]="categoryEvents"></app-category>

    <div class="timeline-timeframe">
      <div class="segment" *ngFor="let segment of timeframe" [ngStyle]="{left: segment.leftPercentage}">
        <div class="segment-year">{{segment.year}}</div>
      </div>
    </div>

    <div class="timeline-cursor-line"
         *ngIf="cursorLineActive"
         [ngStyle]="cursorLineStyles"
         #tooltip="matTooltip"
         matTooltip="{{cursorLineDate}}"
         [matTooltipPosition]="cursorLineDatePosition"
         (mouseout)="showCursorTooltip(tooltip).then()">
    </div>

    <!--
    <div>
      <ng5-slider [(value)]="pointerStart" [(highValue)]="pointerEnd" [options]="options" (mouseup)="calculateTimeline()"></ng5-slider>
    </div>
    -->
  </div>

  <mat-tab-group>
    <mat-tab label="Events">
      <div class="grid-list" *ngIf="timeline">
        <app-timeline-event-list
          *ngFor="let event of timeline.events"
          [event]="event"
          [timeline]="timeline"
          [categoryEvents]="categoryEvents">
        </app-timeline-event-list>
      </div>
    </mat-tab>

    <mat-tab label="People">
      <div class="grid-list" *ngIf="timeline">
        <app-timeline-person-list
          *ngFor="let person of timeline.persons" [person]="person" [timeline]="timeline">
        </app-timeline-person-list>
      </div>
    </mat-tab>

    <mat-tab label="Categories">
      <div class="grid-list" *ngIf="timeline">
        <app-timeline-categories [timeline]="timeline" [categoryEvents]="categoryEvents"></app-timeline-categories>
      </div>
    </mat-tab>

    <mat-tab label="What Else?">
      <div class="grid-list" *ngIf="timeline">
        <app-timeline-event-list *ngFor="let event of relatedEvents" [event]="event"></app-timeline-event-list>
        <mat-paginator length="{{relatedEventsTotalResults}}" pageSize="20" (page)="turnRelatedEventsPage($event)"></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

