<form>
  <h2 mat-dialog-title>New Event</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%">
      <input
        type="text"
        placeholder="Title"
        matInput
        #evenLabelField
        name="event_label"
        id="event_label"
        (focusout)="saveEventTitle(evenLabelField.value)"
        [formControl]="eventTitleAutocompleteControl"
        [matAutocomplete]="eventTitleAutoComplete">

      <mat-autocomplete #eventTitleAutoComplete="matAutocomplete" [displayWith]="displayEvent" (optionSelected)="saveEventTitle(null)">
        <mat-option *ngFor="let event of eventTitleFilteredOptions | async" [value]="event">
          {{event.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-grid-list cols="2" rowHeight="60px">
        <mat-grid-tile>
          <mat-form-field style="width: 100%" class="margin-right">
            <mat-label>Starting Era</mat-label>
            <mat-select [(ngModel)]="event.startEra" name="event_start_era" required>
              <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="width: 100%">
            <input
              matInput
              placeholder="Starting Year"
              name="event_start_year"
              required
              [(ngModel)]="event.startYear"/>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field style="width: 100%" class="margin-right">
              <mat-label>Ending Era</mat-label>
              <mat-select [(ngModel)]="event.endEra" name="event_end_era">
                <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
              </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field style="width: 100%" class="app-field-year">
            <input
              matInput
              placeholder="ending Year"
              name="event_end_year"
              [(ngModel)]="event.endYear" />
          </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

    <mat-form-field style="width: 100%">
      <input
        type="text"
        placeholder="Source"
        aria-label="Source"
        matInput
        [formControl]="sourcesAutocompleteControl"
        [matAutocomplete]="auto">

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displaySource" (optionSelected)="saveSource()">
        <mat-option *ngFor="let source of sourcesFilteredOptions | async" [value]="source">
          {{source.title}} <span *ngIf="source.subTitle">: {{source.subTitle}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="button" (click)="saveNewEvent()">Save</button>
    <button mat-flat-button type="button" (click)="onNoClick()">Cancel</button>
  </mat-dialog-actions>
</form>
