<div *ngIf="person">
  <div class="app-body-content app-body-darker-canvas">
    <div *ngIf="showReturnHeader" style="cursor: pointer" routerLink="{{returnPath}}">
      Return To Project
    </div>

    <div class="app-body-content-narrow">
      <div class="subheading">
        Person
        <button *ngIf="!isEditPersonMode" mat-icon-button class="material-icons" type="button" (click)="activateEditPersonMode()">edit</button>
      </div>

      <div *ngIf="!isEditPersonMode">
        <img style="width: 400px" src="{{person.image}}">

        <h1 class="no-margin-bottom margin-top">
          {{person.firstName}}
          <span *ngIf="person.middleName"> {{person.middleName}}</span>
          <span *ngIf="person.lastName"> {{person.lastName}}</span>
        </h1>

        <div class="heading-meta">
          {{person.formattedBirth}} - {{person.formattedDeath}} ({{person.age}} years old)
        </div>

        <app-editor
          [content]="person.description"
          (saveContent)="saveDescription($event)"
          [isEditable]="true">
        </app-editor>
      </div>

      <div *ngIf="isEditPersonMode">
        <form (ngSubmit)="editPerson()" #editPersonForm="ngForm">
          <div class="app-drawer-header">
            <div class="app-drawer-tools">
              <button mat-icon-button type="submit" class="material-icons">save</button>
              <button mat-icon-button type="button" class="material-icons" (click)="removePerson()">delete</button>
              <button mat-icon-button type="button" class="material-icons" (click)="deactivateEditPersonMode()">close</button>

            </div>
          </div>

          <div class="app-drawer-content">
            <section class="app-section">
              <label>Image</label>

              <div>
                <mat-spinner *ngIf="isSavingImage" mode="indeterminate" diameter="20"></mat-spinner>

                <input type="file" (change)="saveImage($event.target.files)" />
              </div>
            </section>

            <section class="app-section">
              <mat-form-field>
                <input
                  placeholder="First Name"
                  matInput
                  #firstNameField
                  name="person_first_name_search"
                  [(ngModel)]="person.firstName" />
              </mat-form-field>

              <mat-form-field style="width: 30%">
                <input
                  matInput
                  placeholder="Middle Name"
                  name="person_middle_name"
                  #personFirstName="ngModel"
                  [(ngModel)]="person.middleName" />
              </mat-form-field>

              <mat-form-field>
                <input
                  placeholder="Last Name"
                  matInput
                  name="person_last_name_search"
                  #lastNameField
                  [(ngModel)]="person.lastName">
              </mat-form-field>
            </section>

            <section class="app-section inline">
              <label>Birth Date</label>

              <div class="app-field-group">
                <mat-form-field class="app-field-era">
                  <mat-label>Era</mat-label>
                  <mat-select [(ngModel)]="person.birthEra" name="person_birth_era" required [compareWith]="selectEra">
                    <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="app-field-year">
                  <input
                    matInput
                    placeholder="Year"
                    name="person_birth_year"
                    required
                    [(ngModel)]="person.birthYear" />
                </mat-form-field>


                <mat-form-field class="app-field-day">
                  <input
                    matInput
                    placeholder="Day"
                    name="person_birth_day"
                    [(ngModel)]="person.birthDay" />
                </mat-form-field>

                <mat-form-field class="app-field-month">
                  <mat-label>Month</mat-label>
                  <mat-select [(ngModel)]="person.birthMonth" name="person_birth_month" [compareWith]="selectMonth">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let month of months" [value]="month">{{month.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </section>

            <section class="app-section inline">
              <label>Death Date</label>

              <div class="app-field-group">
                <mat-form-field class="app-field-era">
                  <mat-label>Era</mat-label>
                  <mat-select [(ngModel)]="person.deathEra" name="person_death_era" [compareWith]="selectEra">
                    <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="app-field-year">
                  <input
                    matInput
                    placeholder="Year"
                    name="person_death_year"
                    [(ngModel)]="person.deathYear" />
                </mat-form-field>

                <mat-form-field class="app-field-day">
                  <input
                    matInput
                    placeholder="Day"
                    name="person_death_day"
                    [(ngModel)]="person.deathDay" />
                </mat-form-field>

                <mat-form-field class="app-field-month">
                  <mat-label>Month</mat-label>
                  <mat-select [(ngModel)]="person.deathMonth" name="person_death_month" [compareWith]="selectMonth">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let month of months" [value]="month">{{month.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="app-body-content">
    <div>
      <!-- BIOGRAPHIES -->
      <div class="app-content-toolbar margin-bottom">
          <h2>Biographies</h2>
          <button mat-flat-button color="secondary" (click)="addPersonBiography()">+ Add a Biography</button>
      </div>

      <div class="app-cards-container cards-xlarge">
        <app-essay-card
          class="app-card"
          *ngFor="let personBiography of personBiographies"
          [essay]="personBiography.biography"
          [canDelete]="true"
          (removeEssay)="deleteBiography($event)">
        </app-essay-card>
      </div>

      <!-- TIMELINES -->
      <div class="app-content-toolbar margin-bottom">
          <h2>Timelines</h2>
          <button mat-flat-button color="secondary" (click)="addTimelinePerson()">+ Add a Timeline</button>
      </div>

      <div class="app-cards-container cards-large">
        <app-timeline-card
          class="app-card"
          *ngFor="let personTimeline of personTimelines"
          [timeline]="personTimeline.timeline"
          [canDelete]="true"
          (removeTimeline)="deleteTimeline($event)">
        </app-timeline-card>
      </div>

<!-- NOTES -->
      <!-- Add a note CTA-->
      <div class="app-content-toolbar margin-bottom margin-top">
          <h2>Notes</h2>
          <button mat-flat-button color="secondary" (click)="activateAddNoteMode()">+ Add a Note</button>
      </div>

      <!-- Add New Note -->
      <div *ngIf="isAddNoteMode" class="app-card-note">
        <app-person-details-note
          [note]="note"
          [person]="person"
          [showToolbar]="true"
          [autoEdit]="true"
          [isCreate]="true"
          (createNote)="deactivateAddNoteMode()">
        </app-person-details-note>
      </div>

      <!-- Display Notes-->
      <app-person-details-note
        *ngFor="let note of person.notes"
        [note]="note"
        [person]="person"
        [showToolbar]="true"
        (removeNote)="deleteNote($event)">
      </app-person-details-note>
    </div>
  </div>
</div>

