<div *ngIf="person">
  <div class="app-body-content app-body-darker-canvas">
    <div class="app-body-content-narrow">
      <div class="subheading">
        Person
        <button *ngIf="!isEditPersonMode" mat-icon-button class="material-icons" type="button" (click)="activateEditPersonMode()">edit</button>
      </div>

      <div *ngIf="!isEditPersonMode">
        <h1 class="no-margin-bottom margin-top">
          {{person.firstName}}
          <span *ngIf="person.middleName"> {{person.middleName}}</span>
          <span *ngIf="person.lastName"> {{person.lastName}}</span>
        </h1>

        <div class="heading-meta">
          {{person.formattedBirth}} - {{person.formattedDeath}} ({{person.age}} years old)
        </div>

        <app-editor
          [content]="person.description"
          (saveContent)="saveDescription($event)"
          [isEditable]="true">
        </app-editor>
      </div>

      <div *ngIf="isEditPersonMode">
        <form (ngSubmit)="editPerson()" #editPersonForm="ngForm">
          <div class="app-drawer-header">
            <div class="app-drawer-tools">
              <button mat-icon-button type="submit" class="material-icons">save</button>
              <button mat-icon-button type="button" class="material-icons" (click)="deactivateEditPersonMode()">close</button>
            </div>
          </div>

          <div class="app-drawer-content">
            <section class="app-section">
              <mat-form-field>
                <input
                  placeholder="First Name"
                  matInput
                  #firstNameField
                  name="person_first_name_search"
                  [(ngModel)]="person.firstName" />
              </mat-form-field>

              <mat-form-field style="width: 30%">
                <input
                  matInput
                  placeholder="Middle Name"
                  name="person_middle_name"
                  #personFirstName="ngModel"
                  [(ngModel)]="person.middleName" />
              </mat-form-field>

              <mat-form-field>
                <input
                  placeholder="Last Name"
                  matInput
                  name="person_last_name_search"
                  #lastNameField
                  [(ngModel)]="person.lastName">
              </mat-form-field>
            </section>

            <section class="app-section inline">
              <label>Birth Date</label>

              <div class="app-field-group">
                <mat-form-field class="app-field-era">
                  <mat-label>Era</mat-label>
                  <mat-select [(ngModel)]="person.birthEra" name="person_birth_era" required [compareWith]="selectEra">
                    <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="app-field-year">
                  <input
                    matInput
                    placeholder="Year"
                    name="person_birth_year"
                    required
                    [(ngModel)]="person.birthYear" />
                </mat-form-field>


                <mat-form-field class="app-field-day">
                  <input
                    matInput
                    placeholder="Day"
                    name="person_birth_day"
                    [(ngModel)]="person.birthDay" />
                </mat-form-field>

                <mat-form-field class="app-field-month">
                  <mat-label>Month</mat-label>
                  <mat-select [(ngModel)]="person.birthMonth" name="person_birth_month" [compareWith]="selectMonth">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let month of months" [value]="month">{{month.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </section>

            <section class="app-section inline">
              <label>Death Date</label>

              <div class="app-field-group">
                <mat-form-field class="app-field-era">
                  <mat-label>Era</mat-label>
                  <mat-select [(ngModel)]="person.deathEra" name="person_death_era" [compareWith]="selectEra">
                    <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="app-field-year">
                  <input
                    matInput
                    placeholder="Year"
                    name="person_death_year"
                    [(ngModel)]="person.deathYear" />
                </mat-form-field>

                <mat-form-field class="app-field-day">
                  <input
                    matInput
                    placeholder="Day"
                    name="person_death_day"
                    [(ngModel)]="person.deathDay" />
                </mat-form-field>

                <mat-form-field class="app-field-month">
                  <mat-label>Month</mat-label>
                  <mat-select [(ngModel)]="person.deathMonth" name="person_death_month" [compareWith]="selectMonth">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let month of months" [value]="month">{{month.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="app-body-content">
    <div class="app-body-content-narrow">
<!-- BIOGRAPHIES -->
      <!-- Add a timeline CTA-->
      <div class="app-content-toolbar margin-bottom">
          <h2>Biographies</h2>
          <button mat-flat-button color="secondary" (click)="activateAddBiographyMode()">+ Add a Biography</button>
      </div>

      <!-- Add New Biography -->
      <div *ngIf="isAddBiographyMode" class="app-card-note">
        <form class="app-card-note-edit" #biographyForm="ngForm">
          <div class=app-card-note-body-meta>
            <mat-form-field style="width: 100%;">
              <mat-label>Biographies</mat-label>
              <mat-select [(ngModel)]="biography" name="person_biography" (selectionChange)="saveBiography()">
                <mat-option *ngFor="let biography of availableBiographies" [value]="biography">{{biography.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button mat-flat-button color="secondary" (click)="deactivateAddBiographyMode()">Cancel</button>
        </form>
      </div>

      <div *ngIf="person.biographies && person.biographies.length">
        <div class="app-section list-item" *ngFor="let biography of person.biographies">
          <div>{{biography.biography.title}}</div>
          <button mat-icon-button class="material-icons" (click)="deleteBiography(biography)">delete</button>
        </div>
      </div>

<!-- TIMELINES -->
      <!-- Add a timeline CTA-->
      <div class="app-content-toolbar margin-bottom">
          <h2>Timelines</h2>
          <button mat-flat-button color="secondary" (click)="activateAddTimelineMode()">+ Add a Timeline</button>
      </div>

      <!-- Add New Timeline -->
      <div *ngIf="isAddTimelineMode" class="app-card-note">
        <form class="app-card-note-edit" (ngSubmit)="saveTimelinePerson()" #timelineForm="ngForm">
          <div class=app-card-note-body-meta>
            <mat-form-field style="width: 100%;">
              <mat-label>Timelines</mat-label>
              <mat-select [(ngModel)]="timeline" name="event_timelines">
                <mat-option *ngFor="let timeline of timelines" [value]="timeline">{{timeline.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button mat-flat-button color="primary">Save</button>
          <button mat-flat-button color="secondary" (click)="deactivateAddTimelineMode()">Cancel</button>
        </form>
      </div>

      <div *ngIf="person.timelines && person.timelines.length">
        <app-event-timeline *ngFor="let timeline of person.timelines" [timeline]="timeline" (removeTimeline)="deleteTimeline(timeline)"></app-event-timeline>
      </div>

<!-- NOTES -->
      <!-- Add a note CTA-->
      <div class="app-content-toolbar margin-bottom margin-top">
          <h2>Notes</h2>
          <button mat-flat-button color="secondary" (click)="activateAddNoteMode()">+ Add a Note</button>
      </div>

      <!-- Add New Note -->
      <div *ngIf="isAddNoteMode" class="app-card-note">
        <app-person-details-note
          [note]="note"
          [person]="person"
          [showToolbar]="true"
          [autoEdit]="true"
          [isCreate]="true"
          (createNote)="deactivateAddNoteMode()">
        </app-person-details-note>
      </div>

      <!-- Display Notes-->
      <app-person-details-note
        *ngFor="let note of person.notes"
        [note]="note"
        [person]="person"
        [showToolbar]="true"
        (removeNote)="deleteNote($event)">
      </app-person-details-note>
    </div>
  </div>
</div>

