<form #personBiographyForm="ngForm">
  <div class="app-drawer-header">
    <div class="app-drawer-title">
      <div class="app-drawer-subheading">Biographies</div>
    </div>
  </div>

  <div class="app-add-object-overlay">
    <section class="app-section">
      <mat-form-field style="width: 100%">
        <input
          type="text"
          placeholder="Biography"
          matInput
          #biographyTitleField
          name="biography_title"
          id="biography_title"
          [formControl]="biographyTitleAutocompleteControl"
          [matAutocomplete]="biographyTitleAutoComplete">

        <mat-autocomplete autoActiveFirstOption #biographyTitleAutoComplete="matAutocomplete" (optionSelected)="saveBiography($event.option.value)">
          <mat-option *ngFor="let biography of biographyTitleFilteredOptions | async" [value]="biography">
            {{biography.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
  </div>
</form>
