<form #addTimelineForm="ngForm">
  <h2 mat-dialog-title>New Timeline</h2>

  <mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%">
      <input
        type="text"
        placeholder="Title"
        matInput
        #newTimelineTitleField
        name="new_timeline_title"
        id="new_timeline_title"
        [(ngModel)]="timeline.label" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="button" (click)="saveNewTimeline()">Save</button>
    <button mat-flat-button type="button" (click)="onNoClick()">Cancel</button>
  </mat-dialog-actions>
</form>
