<!-- shows if on the authors page -->
<mat-card (click)="onLoadDetails()" *ngIf="!isReferenceAttachment">
  <mat-card-title>
    {{author.firstName}}
    <span *ngIf="author.middleName"> {{author.middleName}}</span>
    <span *ngIf="author.lastName"> {{author.lastName}}</span>
  </mat-card-title>
</mat-card>

<!-- shows if displayed on the reference -->
<div class="app-section list-item" *ngIf="isReferenceAttachment">
  <div class="app-label">{{author.firstName}}<span *ngIf="author.lastName"> {{author.lastName}}</span></div>
  <button mat-icon-button class="material-icons" (click)="doRemoveAuthorFromReference()">delete</button>
</div>

