<mat-sidenav-container>
  <div *ngIf="project" class="app-body-content">
    <h1>{{project.label}}</h1>

    <div class="chip-users margin-bottom">
      <div *ngFor="let user of projectUsers">
        <mat-chip-list>
          <mat-chip>
            <span>{{user.firstName}}</span>
            <span class="user-lastname">{{user.lastName}}</span>
          </mat-chip>
        </mat-chip-list>
      </div>
      <button mat-flat-button class="material-icons" color="secondary" (click)="addUser()">add</button>
    </div>

    <mat-divider></mat-divider>

    <div class="app-content-toolbar margin-top">
      <h2>Essays</h2>
      <button mat-flat-button [matMenuTriggerFor]="menuEssays" class="material-icons" color="primary" >add</button>
      <mat-menu #menuEssays="matMenu">
        <button mat-menu-item (click)="addNewEssay()">New Essay</button>
        <button mat-menu-item (click)="addExistingEssay()">Existing Essay</button>
      </mat-menu>
    </div>
    <div class="essay-container">
      <app-essay-card
        class="app-card"
        *ngFor="let essay of project.essays"
        [essay]="essay.essay"
        [canDelete]="true" (removeEssay)="deleteEssay(essay)">
      </app-essay-card>
    </div>

    <mat-divider></mat-divider>

    <div class="app-content-toolbar margin-top">
      <h2>Timelines</h2>
      <button mat-flat-button [matMenuTriggerFor]="menuTimelines" class="material-icons" color="primary" >add</button>
      <mat-menu #menuTimelines="matMenu">
        <button mat-menu-item (click)="addNewTimeline()">New Timeline</button>
        <button mat-menu-item (click)="addExistingTimeline()">Existing Timeline</button>
      </mat-menu>
    </div>
    <div class="app-cards-container cards-xlarge">
      <app-timeline-card
        class="app-card"
        *ngFor="let timeline of project.timelines"
        [timeline]="timeline.timeline"
        [canDelete]="true"
        (removeTimeline)="deleteTimeline(timeline)">
      </app-timeline-card>
    </div>

    <mat-divider></mat-divider>

    <div class="app-content-toolbar margin-top">
      <h2>Events</h2>
      <button mat-flat-button [matMenuTriggerFor]="menuEvents" class="material-icons" color="primary" >add</button>
      <mat-menu #menuEvents="matMenu">
        <button mat-menu-item (click)="addNewEvent()">New Event</button>
        <button mat-menu-item (click)="addExistingEvent()">Existing Event</button>
      </mat-menu>
    </div>

    <div class="app-cards-container cards-medium">
      <app-event-card
        class="app-card"
        *ngFor="let event of project.events"
        [event]="event.event"
        [canDelete]="true"
        (removeEvent)="deleteEvent(event)">
      </app-event-card>
    </div>

    <mat-divider></mat-divider>

    <div class="app-content-toolbar margin-top">
      <h2>People</h2>
      <button mat-flat-button [matMenuTriggerFor]="menuPersons" class="material-icons" color="primary" >add</button>
      <mat-menu #menuPersons="matMenu">
        <button mat-menu-item (click)="addNewPerson()">New Person</button>
        <button mat-menu-item (click)="addExistingPerson()">Existing Person</button>
      </mat-menu>
    </div>

    <div class="app-cards-container cards-medium">
      <app-person-card
        class="app-card"
        *ngFor="let person of project.persons"
        [person]="person.person"
        [canDelete]="true" (removePerson)="deletePerson(person)">
      </app-person-card>
    </div>

    <mat-divider></mat-divider>

    <div class="app-content-toolbar margin-top">
      <h2>Charts</h2>
      <button mat-flat-button [matMenuTriggerFor]="menuCharts" class="material-icons" color="primary" >add</button>
      <mat-menu #menuCharts="matMenu">
        <button mat-menu-item (click)="addNewChart()">New Chart</button>
        <button mat-menu-item (click)="addExistingChart()">Existing Chart</button>
      </mat-menu>
    </div>

    <div class="app-cards-container cards-large">
      <app-chart-card
        class="app-card"
        *ngFor="let chart of project.charts"
        [chart]="chart.chart"
        [canDelete]="true"
        (removeChart)="deleteChart(chart)">
      </app-chart-card>
    </div>

    <mat-divider></mat-divider>

    <div class="app-content-toolbar margin-top">
      <h2>Brainstorms</h2>
      <button mat-flat-button [matMenuTriggerFor]="menuBrainstorms" class="material-icons" color="primary" >add</button>
      <mat-menu #menuBrainstorms="matMenu">
        <button mat-menu-item (click)="addNewBrainstorm()">New Brainstorm</button>
        <button mat-menu-item (click)="addExistingBrainstorm()">Existing Brainstorm</button>
      </mat-menu>
    </div>

    <div class="app-cards-container cards-medium">
      <app-brainstorm-card
        class="app-card"
        *ngFor="let brainstorm of project.brainstorms"
        [brainstorm]="brainstorm.brainstorm"
        [canDelete]="true"
        (removeBrainstorm)="deleteBrainstorm(brainstorm)">
      </app-brainstorm-card>
    </div>

  </div>
</mat-sidenav-container>
