<form #addChartForm="ngForm">
  <h2 mat-dialog-title>New Chart</h2>

  <mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%">
      <input
        type="text"
        placeholder="Title"
        matInput
        #chartTitleField
        name="chart_title"
        id="chart_title"
        (focusout)="saveChartTitle(chartTitleField.value)"
        [formControl]="chartNameAutocompleteControl"
        [matAutocomplete]="chartTitleAutoComplete">

      <mat-autocomplete #chartTitleAutoComplete="matAutocomplete">
        <mat-option *ngFor="let chart of chartNameFilteredOptions | async" [value]="chart">
          {{chart.options.title.text}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="button" (click)="saveNewChart()">Save</button>
    <button mat-flat-button type="button" (click)="onNoClick()">Cancel</button>
  </mat-dialog-actions>
</form>
