<div class="app-drawer-bottom">
  <div class="app-drawer-bottom-body">
    <div class="app-drawer-bottom-header">
      <!-- For an essay specific reference -->
      <div class="app-drawer-title" *ngIf="data.ref">
        <div class="app-drawer-subheading">Reference</div>
        <div class="app-drawer-heading">{{data.ref.source.title}}</div>
        <div *ngIf="data.ref.source.subTitle" class="app-drawer-year">{{data.ref.source.subTitle}}</div>

        <div>
          <p>
            <span *ngIf="data.ref.sourceChapter">{{data.ref.sourceChapter}}</span>
            <span *ngIf="data.ref.sourcePage">, page {{data.ref.sourcePage}}</span>
          </p>
        </div>
      </div>

      <!-- For a general source -->
      <div class="app-drawer-title" *ngIf="data.source">
        <div class="app-drawer-subheading">Reference</div>
        <div class="app-drawer-heading">{{data.source.title}}</div>
        <div *ngIf="data.source.subTitle" class="app-drawer-year">{{data.source.subTitle}}</div>

        <div>
          <p>
            <span *ngIf="data.chapter">{{data.chapter}}</span>
            <span *ngIf="data.page">, pages {{data.page}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
