<app-editor [content]="note.note"
            (saveContent)="saveNote($event)"
            (deleteNote)="doDeleteNote()"
            [autoEdit]="autoEdit"
            [isEditable]="true"
            [isNote]="true"
            [canDelete]="true">
</app-editor>

<!--<div class="app-card-note">-->
  <!---->
  <!--&lt;!&ndash;VIEW MODE &ndash;&gt;  -->
  <!--<div class="app-card-note-view" *ngIf="!isEditNoteMode">-->

    <!--<div class="app-card-note-toolbar" *ngIf="showToolbar">-->
      <!--<button mat-flat-button class="material-icons" (click)="activateEditNoteMode()">edit</button>-->
    <!--</div>-->
    <!---->
    <!--<div class="app-card-note-body-content">-->
        <!--<span *ngIf="note.note" [innerHtml]="note.note | safeHtml"></span>-->
    <!--</div>-->
    <!---->
  <!--</div>-->

  <!--&lt;!&ndash;EDIT MODE &ndash;&gt;-->
  <!--<div *ngIf="isEditNoteMode" class="app-card-note-edit">-->
    <!--<div class=app-card-note-body-meta>-->
      <!--<h3>Edit Note</h3>-->
      <!--<div class="app-card-note-toolbar">-->
        <!--<button mat-flat-button class="material-icons" (click)="doDeleteNote()">delete</button>-->
        <!--<button mat-flat-button class="material-icons" (click)="saveNote()">save</button>-->
        <!--<button mat-flat-button class="material-icons" (click)="setNoteViewMode()">close</button>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="app-card-note-body-content">-->
      <!--<div [(froalaModel)]="note.note"-->
           <!--[froalaEditor]>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

