<div class="app-body-content">
  <div class="app-card-content">
    <div class="app-essay-section" *ngIf="!isEditNoteMode">
      <div class="app-content-toolbar" *ngIf="showToolbar">
        <button mat-flat-button class="material-icons" (click)="activateEditNoteMode()">edit</button>
        <button mat-flat-button class="material-icons" (click)="doDeleteNote()">delete</button>
      </div>

      <h3><span *ngIf="note.note" [innerHtml]="note.note | safeHtml"></span></h3>
    </div>

    <div *ngIf="isEditNoteMode" class="app-essay-edit-mode">
      <div class="app-content-toolbar">
        <button mat-flat-button class="material-icons" (click)="saveNote()">save</button>
        <button mat-flat-button class="material-icons" (click)="setNoteViewMode()">close</button>
      </div>

      <div [(froalaModel)]="note.note"
           [froalaEditor]></div>
    </div>
  </div>
</div>
