<form #personForm="ngForm">
  <div *ngIf="data.showExisting">
    <h2 mat-dialog-title>Existing Person</h2>
    <mat-dialog-content class="mat-typography">
      <mat-form-field style="width: 100%">
        <input
          type="text"
          placeholder="Name"
          matInput
          #personNameField
          name="person_name"
          id="person_name"
          [formControl]="personNameAutocompleteControl"
          [matAutocomplete]="personNameAutoComplete">

        <mat-autocomplete autoActiveFirstOption #personNameAutoComplete="matAutocomplete" [displayWith]="displayPersonName" (optionSelected)="saveExistingPerson($event.option.value)">
          <mat-option *ngFor="let personOption of personNameFilteredOptions | async" [value]="personOption">
            <span *ngIf="personOption.firstName">{{personOption.firstName}} </span><span *ngIf="personOption.lastName">{{personOption.lastName}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-dialog-content> 
  </div>

  <div *ngIf="data.showNew && data.showExisting" class="app-add-object-overlay">
    <div>OR</div>
  </div>

  <div *ngIf="data.showNew">
    <h2 mat-dialog-title>New Person</h2>

    <mat-dialog-content class="mat-typography">
      <section>
        <mat-form-field style="width: 32%" class="margin-right">
          <input
            type="text"
            placeholder="First Name"
            matInput
            #personFirstNameField
            name="person_first_name"
            id="person_first_name"
            required
            (focusout)="savePersonFirstName(personFirstNameField.value)"
            [formControl]="personFirstNameAutocompleteControl"
            [matAutocomplete]="personFirstNameAutoComplete">

          <mat-autocomplete #personFirstNameAutoComplete="matAutocomplete" [displayWith]="displayPersonFirstName" (optionSelected)="savePersonFirstName(null)">
            <mat-option *ngFor="let personOption of personFirstNameFilteredOptions | async" [value]="person.firstName">
              <span *ngIf="personOption.firstName">{{personOption.firstName}} </span><span *ngIf="personOption.lastName">{{personOption.lastName}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field style="width: 32%" class="margin-right">
          <input
            matInput
            placeholder="Middle Name"
            name="person_middle_name"
            #personFirstName="ngModel"
            [(ngModel)]="person.middleName" />
        </mat-form-field>

        <mat-form-field style="width: 31%">
          <input
            type="text"
            placeholder="Last Name"
            matInput
            name="person_last_name"
            #personLastNameField
            (focusout)="savePersonLastName(personLastNameField.value)"
            [formControl]="personLastNameAutocompleteControl"
            [matAutocomplete]="personLastNameAutoComplete">

          <mat-autocomplete #personLastNameAutoComplete="matAutocomplete" [displayWith]="displayPersonLastName" (optionSelected)="savePersonLastName(null)">
            <mat-option *ngFor="let person of personLastNameFilteredOptions | async" [value]="person.lastName">
              <span *ngIf="person.firstName">{{person.firstName}} </span><span *ngIf="person.lastName">{{person.lastName}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field style="width: 32%" class="margin-right">
          <mat-label>Birth Era</mat-label>
          <mat-select [(ngModel)]="person.birthEra" name="person_birth_era" required>
            <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 65%">
          <input
            matInput
            placeholder="Birth Year"
            name="person_birth_year"
            required
            [(ngModel)]="person.birthYear" />
        </mat-form-field>
      </section>

      <section>
        <mat-form-field style="width: 32%" class="margin-right">
          <mat-label>Death Era</mat-label>
          <mat-select [(ngModel)]="person.deathEra" name="person_death_era">
            <mat-option *ngFor="let era of eras" [value]="era">{{era.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 65%">
          <input
            matInput
            placeholder="Death Year"
            name="person_death_year"
            [(ngModel)]="person.deathYear" />
        </mat-form-field>
      </section>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-flat-button color="primary" type="button" (click)="saveNewPerson()">Save</button>
      <button mat-flat-button type="button" (click)="onNoClick()">Cancel</button>
    </mat-dialog-actions>
    
  </div>
</form>
