<mat-card>
  <div routerLink="/manager/sources/{{source.id}}">
    <mat-card-title>{{source.title}}</mat-card-title>
    <mat-card-subtitle>
      {{source.subTitle}}
      <div *ngIf="source.authors.length">
        <i *ngFor="let author of source.authors">{{author.firstName}} {{author.lastName}}, {{source.publishedYear}}</i>
      </div>
    </mat-card-subtitle>
  </div>
  <mat-card-actions>
      <button *ngIf="canDelete" color="warn" mat-icon-button class="material-icons" (click)="doRemoveSource()">delete</button>
  </mat-card-actions>
</mat-card>
