// Cards
// ----

@import '_variables.scss';

.app-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px 2%;
  margin: 35px 0;

  &.cards-large {
    grid-template-columns: repeat(2, 1fr);
  }

  .app-card {
    background-color: $color-lightest;
    border: $border-light;
    box-shadow: $shadow-light;
  }
}

// Styles a card used as main content in a page
.app-card-content {
  background-color: $color-lightest;
  border: $border-light;
  box-shadow: $shadow-light;
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;

  .app-content-toolbar {
    margin-bottom: 1rem;
  }
}

.app-card-note {
  @extend .app-card-content;
  padding: 0 1rem;
  margin-bottom: 2rem;

  .app-card-note-body-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;

    .app-section.horizontal {
      padding: 0;
      align-items: center;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .app-card-note-view {
    position: relative;
    padding: 1rem 2.9rem 1rem 0 ;
  
    .app-card-note-toolbar {
      position: absolute;
      background: white;
      right: -16px;
      top: 7px;
      border-radius: 100px;
    }
  }

  .app-card-note-edit {
    background-color: $color-gray-scale-25;
    margin: 0 -1rem;
    padding: 0 1rem 1rem 1rem;
  }

  .app-card-note-toolbar {
    
    button.material-icons {
      font-size: 1.3rem;
    }
  }
  .app-card-note-body-content {
    ul {
      margin-left: 2em;
    }
  }
}


// Overwrites to the material design card component styles.

.mat-card {
  background-color: transparent;
  border: none;
  padding: 25px 20px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-card-title {
  font-size: $font-size-large-200;
  font-weight: 400;
  color: $color-gray-scale-600;
  margin-bottom: 4px;
}
.mat-card-subtitle {
  color: rgba($color-gray-scale-500, .7);
}

.mat-card-content {
  color: $font-color-default;
  line-height: $font-line-height;
}
