// Typography
// ----------

@import '_variables.scss';

h1, h2, h3, h4, h5, h6 {
  color: $color-gray-scale-500;
  margin-bottom: $font-margin-bottom;
  font-weight: 100;
}

h1 { font-size: $font-size-large-300;}
h2 { font-size: $font-size-large-200;}
h3 { font-size: $font-size-large-100;}

p {
  color: $color-medium;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: darken($color-link, 10%);
    text-decoration: underline;
  }
}

label,
.mat-tab-label {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 500;
  letter-spacing: 1px;
  color: $color-gray-scale-500;
  opacity: 1 !important;
}


.subheading {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: $font-size-small;
}


