// Utilities
// ----------
.margin-bottom { margin-bottom: 1rem ;}
.margin-top { margin-top: 1rem ;}
.margin-right { margin-right: 1rem ;}
.margin-left { margin-left: 1rem ;}
.no-margin-bottom { margin-bottom: 0 ;}

.icon-pre {
  margin-right: 0.5rem;
}
.icon-post {
  margin-left: 0.5rem;
}

.spacer {
  flex: 1 1 auto;
}

