// Variables
// ---------

// Colors

$color-gray-scale-600:      #210356;
$color-gray-scale-500:      #332872;
$color-gray-scale-400:      #5e59a0;
$color-gray-scale-300:      #9c9dd7;
$color-gray-scale-200:      #c5cee9;
$color-gray-scale-100:      #e3e3f4;
$color-gray-scale-50:       #edf0fb;
$color-gray-scale-25:       #f0f2fb;


$color-darkest:             #000;
$color-medium:              #303235;
$color-medium-150:          #707070;
$color-medium-100:          #8E929C;
$color-light-100:           #D6D6D6;
$color-light-50:            #EEE;
$color-light:               #FAFAFA;
$color-lightest:            #FFF;

$color-brand:               #673ab7;
$color-active:              #29BB5F;
$color-active-light:        rgba(31,177,76,0.08);
$color-active-light-100:    rgba(31,177,76,0.15);
$color-highlight:           #7740da;

$color-link:                #099FE5;
$color-success:             #74BB29;
$color-error:               #ED1020;
$color-warning:             #FABC12;

$color-icon-actions:        $color-brand;


// Colors Utility
// --------------
$timeline-colors: (
  'scarlet':                #D94139,
  'orange':                 #EE8420,
  'yellow':                 #F3D216,
  'lime':                   #A6C252,
  'turquoise':              #32B7B4,
  'blue':                   #327FB7,
  'purple':                 #8D66D9,
  'violet':                 #BF66D9,
  'fucsia':                 #EC446D
);

//Generates CSS classes with the given colors
@each $name, $color in $timeline-colors {
  .color-#{$name}{
    background-color: $color !important;
  }
}


// Type

$font-family-sans-serif:     Roboto, 'Helvetica Neue', sans-serif;
$font-line-height:           1.5;
$font-margin-bottom:         1rem;
$font-color-default:         $color-medium;

$font-size-smallest:         0.7rem;
$font-size-small:            0.8rem;
$font-size-smaller:          0.9rem;
$font-size-base:             1rem;
$font-size-large-100:        1.2rem;
$font-size-large-200:        1.4rem;
$font-size-large-300:        1.7rem;


// Shadows
$shadow-light:               0px 2px 0px 0px rgba(0,0,0,.1);
$shadow-glow:                0 0px 8px 8px rgb(184, 233, 134, .8);

// Borders
$border-light:               1px solid rgba($color-gray-scale-500, .2);
$border-lightest:            1px solid rgba($color-gray-scale-500, .1);
$border-radius-default:      4px;
$border-aurea:               10px solid lighten($color-active, 40);
