// Variables
// ---------

// Colors

$color-gray-scale-600: #232F4C;
$color-gray-scale-500: #344672;
$color-gray-scale-400: #596EA0;
$color-gray-scale-300: #9BADD7;
$color-gray-scale-200: #C4CFE9;
$color-gray-scale-100: #DCE3F4;

$color-darkest: #000;
$color-medium: #5F636D;
$color-lightest: #FFF;

$color-brand: #2C57BD;
$color-active: #29BB5F;
$color-highlight: #ED105D;

$color-link: #099FE5;
$color-success: #74BB29;
$color-error: #ED1020;
$color-warning: #FABC12;

$color-timeline-scarlet: #D94139;
$color-timeline-orange: #EE8420;
$color-timeline-yellow: #F3D216;
$color-timeline-lime: #A6C252;
$color-timeline-turquoise: #32B7B4;
$color-timeline-blue: #327FB7;
$color-timeline-purple: #8D66D9;
$color-timeline-violet: #BF66D9;
$color-timeline-fucsia: #EC446D;


// Type

$font-family-sans-serif: Roboto, 'Helvetica Neue', sans-serif;
$font-size-base: 1rem;
$font-size-small: 80%;
$font-line-height: 1.5;
$font-margin-bottom: 1rem;
