<div class="app-body-content" *ngIf="event">
  <div class="app-content-toolbar">
    <h1>{{event.label}}</h1>

    <button mat-flat-button class="material-icons" (click)="activateAddNoteMode()">add</button>
  </div>

  <div>
    <span>{{event.formattedStartYear}}</span>
    <span *ngIf="!event.isSinglePointEvent">- {{event.formattedEndYear}} ({{event.eventLength}} years)</span>
  </div>

  <div>
    {{event.description}}
  </div>

  <div *ngIf="isAddNoteMode" class="app-essay-edit-mode">
    <div class="app-content-toolbar">
      <button mat-flat-button class="material-icons" (click)="saveNote()">save</button>
      <button mat-flat-button class="material-icons" (click)="deactivateAddNoteMode()">close</button>
    </div>

    <div [(froalaModel)]="note.note"
         [froalaEditor]></div>
  </div>

  <app-event-details-note *ngFor="let note of event.notes" [note]="note" [event]="event" [showToolbar]="true" (removeNote)="deleteNote($event)"></app-event-details-note>
</div>
