<div class="app-drawer-header">
  <div class="app-drawer-title">
    <div class="app-drawer-subheading">New Project</div>
  </div>
  <div class="app-drawer-tools">
    <button mat-icon-button type="button" class="material-icons" [mat-dialog-close]="project">save</button>
    <button mat-icon-button type="button" class="material-icons" (click)="onNoClick()">close</button>
  </div>
</div>

<div class="app-drawer-content">
  <section class="app-section">
    <mat-form-field style="width: 100%">
      <input
        type="text"
        placeholder="New Project"
        matInput
        #newProjectLabelField
        name="new_project_label"
        id="new_project_label"
        [(ngModel)]="project.label">
    </mat-form-field>
  </section>
</div>
