<h2 mat-dialog-title>New Project</h2>

<mat-dialog-content class="mat-typography">
  <mat-form-field style="width: 100%">
    <input
      type="text"
      placeholder="Project Name"
      matInput
      #newProjectLabelField
      name="new_project_label"
      id="new_project_label"
      [(ngModel)]="project.label">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" type="button" [mat-dialog-close]="project">Save</button>
  <button mat-flat-button type="button" (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>

