@import '../../../styles/_sections.scss';
@import '../../../styles/_cards.scss';

p {
  color: $color-darkest;
}

.app-essay-section {
  h2 .material-icons {
    font-size: 0.9em;
  }
}

.app-essay-edit-mode {
  background-color: $color-gray-scale-50;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 1rem 3rem 2rem 3rem;

  .app-content-toolbar {
    margin-bottom: 0;
    h2 {
      flex-grow: 1;
    }
  }
}
