<mat-sidenav-container>
  <div class="app-body-content">
    <div class="app-content-toolbar">
      <h1>Events</h1>

      <div class="app-search-box">
        <mat-form-field>
          <input matInput
                 placeholder="Search..."
                 name="eventFilter"
                 [(ngModel)]="filterQuery"/>
        </mat-form-field>
        <button mat-icon-button class="material-icons mat-icon-button mat-button-base" (click)="filterResults()">search</button>
      </div>

      <button mat-flat-button class="material-icons" color="primary" (click)="activateCreateMode(eventDetails)">add</button>
    </div>

    <div class="app-cards-container">
      <app-event-card
        *ngFor="let event of events" [event]="event" (loadEvent)="openEventDetails($event, eventDetails, false, false)"
        class="app-card">
      </app-event-card>
    </div>

    <mat-paginator length="{{totalResults}}" pageSize="20" (page)="turnPage($event)"></mat-paginator>
  </div>

  <mat-sidenav #eventDetails mode="side" position="end" class="app-drawer">
    <!-- Event Read-Only Mode -->
    <div *ngIf="!isEditEventMode && !isCreateEventMode">
      <div class="app-drawer-header">
        <div class="app-drawer-title">
          <div class="app-drawer-subheading">Event</div>
          <div class="app-drawer-heading">{{event.label}}</div>
        </div>
        <div class="app-drawer-tools">
          <a *ngIf="!isCreateEventMode" routerLink="{{eventLink}}">
            <span class="material-icons mat-icon-button mat-button-base">
              launch
            </span>
          </a>

          <button mat-icon-button class="material-icons" type="button" (click)="isEditEventMode = true">edit</button>
          <button mat-icon-button class=" material-icons" type="button" (click)="closeEventDetails(eventDetails)">close</button>
        </div>
      </div>

      <div class="app-drawer-content">
        <section class="app-section horizontal">
          <section class="app-subsection">
            <label>Beginning Date</label>
            <span *ngIf="event.startMonth">{{event.startMonth.label}} </span>
            <span *ngIf="event.startDay">{{event.startDay}}, </span>
            <span>{{event.formattedStartYear}}</span>
          </section>

          <section class="app-subsection">
            <label>Ending Date</label>
            <span *ngIf="event.endMonth">{{event.endMonth.label}} </span>
            <span *ngIf="event.endDay">{{event.endDay}}, </span>
            <span>{{event.formattedEndYear}}</span>
          </section>
        </section>

        <section class="app-section">
          <label>Description</label>
          <span *ngIf="event.description">{{event.description}}</span>
        </section>

        <section class="app-section">
          <div class="app-section-action">
            <label>Notes</label>
            <button mat-icon-button class="material-icons" (click)="activateEventNoteForm()">add</button>
          </div>

          <div *ngIf="isAddNoteMode">
            <form (ngSubmit)="createNote()" #noteForm="ngForm">
              <mat-form-field style="width: 100%">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                  name="event_note"
                  id="event_note"
                  [(ngModel)]="eventNote.note"></textarea>
              </mat-form-field>

              <button mat-flat-button type="submit" color="primary">Save</button>
              <button mat-flat-button type="button" color="secondary" (click)="cancelEventNoteForm()">Cancel</button>
            </form>
          </div>

          <div *ngIf="event.notes && event.notes.length">
            <app-event-details-note
              *ngFor="let note of event.notes"
              [note]="note" [event]="event"
              [showToolbar]="false"
              (removeNote)="removeNote(note)">
            </app-event-details-note>
          </div>
        </section>

        <section class="app-section">
          <div class="app-section-action">
            <label>Timelines</label>
            <button mat-icon-button class="material-icons" (click)="isAddTimelineMode = true">add</button>
          </div>

          <div *ngIf="isAddTimelineMode">
            <form (ngSubmit)="createTimelineEvent()" #timelineForm="ngForm">
              <mat-form-field style="width: 100%;">
                <mat-label>Timelines</mat-label>
                <mat-select [(ngModel)]="timelineId" name="event_timeline">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let timeline of timelines" [value]="timeline.id">{{timeline.label}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-flat-button color="primary">Save</button>
              <button mat-flat-button color="secondary" (click)="cancelEventTimelineForm()">Cancel</button>
            </form>
          </div>

          <div *ngIf="event.timelines && event.timelines.length">
            <app-event-timeline *ngFor="let timeline of event.timelines" [timeline]="timeline" (removeTimeline)="removeTimeline(timeline)"></app-event-timeline>
          </div>
        </section>

        <section class="app-section">
          <label>Source</label>
          <span *ngIf="event.source">{{event.source.title}}</span>
        </section>
      </div>
    </div>

    <!-- Event Create/Edit Mode -->
    <div class="edit-mode" *ngIf="isCreateEventMode || isEditEventMode">
      <form (ngSubmit)="isEditEventMode ? editEvent() : createEvent(eventDetails)" #eventForm="ngForm">

        <div class="app-drawer-header">
          <div class="app-drawer-title">
            <div class="app-drawer-subheading" *ngIf="isCreateEventMode">New Event</div>
            <div class="app-drawer-subheading" *ngIf="isEditEventMode">Edit Event</div>
          </div>
          <div class="app-drawer-tools">
            <button mat-icon-button type="button" class="material-icons" *ngIf="isEditEventMode" (click)="removeEvent(eventDetails)">delete</button>
            <button mat-icon-button type="submit" class="material-icons">save</button>
            <button mat-icon-button type="button" class="material-icons" (click)="cancelCreateEditMode()">close</button>
          </div>
        </div>

        <div class="app-drawer-content">
          <section class="app-section">
            <mat-form-field style="width: 100%">
              <input
                matInput
                placeholder="Title"
                required
                name="event_label"
                #eventLabel="ngModel"
                [(ngModel)]="event.label" />
            </mat-form-field>
          </section>

          <section class="app-section inline">
            <label>Beginning</label>

            <div class="app-field-group">
              <mat-form-field class="app-field-era">
                <mat-label>Era</mat-label>
                <mat-select [(ngModel)]="startEraLabel" name="event_start_era" required>
                  <mat-option *ngFor="let era of eras" [value]="era.label">{{era.label}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="app-field-year">
                <input
                  matInput
                  placeholder="Year"
                  name="event_start_year"
                  required
                  [(ngModel)]="event.startYear"/>
              </mat-form-field>

              <mat-form-field class="app-field-day">
                <input
                  matInput
                  placeholder="Day"
                  name="event_start_day"
                  [(ngModel)]="event.startDay"/>
              </mat-form-field>

              <mat-form-field class="app-field-month">
                <mat-label>Month</mat-label>
                <mat-select [(ngModel)]="startMonthLabel" name="event_start_month">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let month of months" [value]="month.label">{{month.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </section>

          <section class="app-section inline">
            <label>Ending</label>
            <div class="app-field-group">
              <mat-form-field class="app-field-era">
                <mat-label>Era</mat-label>
                <mat-select [(ngModel)]="endEraLabel" name="event_end_era">
                  <mat-option *ngFor="let era of eras" [value]="era.label">{{era.label}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="app-field-year">
                <input
                  matInput
                  placeholder="Year"
                  name="event_end_year"
                  [(ngModel)]="event.endYear" />
              </mat-form-field>

              <mat-form-field class="app-field-day">
                <input
                  matInput
                  placeholder="Day"
                  name="event_end_day"
                  [(ngModel)]="event.endDay" />
              </mat-form-field>

              <mat-form-field class="app-field-month">
                <mat-label>Month</mat-label>
                <mat-select [(ngModel)]="endMonthLabel" name="event_end_month">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let month of months" [value]="month.label">{{month.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </section>

          <section class="app-section inline field-description">
            <label>Description</label>
            <mat-form-field class="app-field-description">
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                name="event_description"
                [(ngModel)]="event.description"></textarea>
            </mat-form-field>
          </section>

          <section class="app-section inline">
            <label>Source</label>
            <mat-form-field class="app-field-reference">
              <input
                type="text"
                placeholder="Select Source"
                aria-label="Source"
                matInput
                [formControl]="sourcesAutocompleteControl"
                [matAutocomplete]="auto">

              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySource" (optionSelected)="saveSource()">
                <mat-option *ngFor="let source of sourcesFilteredOptions | async" [value]="source">
                  {{source.title}} <span *ngIf="source.subTitle">: {{source.subTitle}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </section>

        </div>
      </form>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
