<div *ngIf="source">
  <div class="app-body-content app-body-darker-canvas">
    <div class="app-body-content-narrow">
      <div class="subheading">Source</div>
      <h1 class="no-margin-bottom">{{source.title}}</h1>
      <h2 class="no-margin-bottom">{{source.subTitle}}</h2>
      <div class="heading-meta">
        <span *ngIf="source.subTitle">{{displayAuthors}}, </span>
        <span *ngIf="source.publishedYear">{{source.publishedYear}}</span>
      </div>
    </div>
  </div>

  <!-- Notes -->
  <div class="app-body-content">
    <div class="app-body-content-narrow">

      <!-- Add a note CTA-->
      <div class="app-content-toolbar margin-bottom">
          <h2>Notes</h2>
          <button mat-flat-button color="secondary" (click)="activateAddNoteMode()">+ Add a Note</button>
      </div>


      <!-- Add New Note -->
      <div *ngIf="isAddNoteMode" class="app-card-note">
        <app-source-details-note
          [note]="note"
          [source]="source"
          [showToolbar]="true"
          [autoEdit]="true"
          [isCreate]="true"
          (createNote)="deactivateAddNoteMode()">
        </app-source-details-note>
      </div>

      <!-- Display Notes -->
      <app-source-details-note
        *ngFor="let note of source.notes"
        [note]="note"
        [source]="source"
        [showToolbar]="true"
        (removeNote)="deleteNote($event)">
      </app-source-details-note>

    </div>
  </div>
</div>


