<mat-sidenav-container>
  <div class="app-body-content">
    <div class="app-content-toolbar">
      <h1>People</h1>

      <div class="app-search-box">
        <mat-form-field>
          <input matInput
                 placeholder="Search..."
                 name="person_filter"
                 [(ngModel)]="filterQuery"
                 (keyup.enter)="filterResults()" />
        </mat-form-field>
        <button mat-icon-button class="material-icons mat-icon-button mat-button-base" (click)="filterResults()">search</button>
      </div>

      <button mat-flat-button class="material-icons" color="primary" (click)="createPerson()">add</button>
    </div>

    <div class="app-cards-container">
      <app-person-card
        *ngFor="let person of persons" [person]="person" (loadPerson)="openPersonDetails($event, personDetails, false, false)"
        class="app-card">
      </app-person-card>
    </div>

    <mat-paginator length="{{totalResults}}" pageSize="20" (page)="turnPage($event)"></mat-paginator>
  </div>

  <mat-sidenav #personDetails mode="side" position="end" class="app-drawer">
    <!-- Person Read-Only Mode -->
    <div *ngIf="!isEditPersonMode && !isCreatePersonMode">
      <div class="app-drawer-header">
        <div class="app-drawer-title">
          <div class="app-drawer-subheading">Person</div>
          <div class="app-drawer-heading">{{person.firstName}} {{person.middleName}} {{person.lastName}}</div>
        </div>
        <div class="app-drawer-tools">
          <a routerLink="{{personLink}}">
            <span class="material-icons mat-icon-button mat-button-base">
              launch
            </span>
          </a>

          <button mat-icon-button class=" material-icons" type="button" (click)="removePerson(personDetails)">delete</button>
          <button mat-icon-button class=" material-icons" (click)="closePersonDetails(personDetails)">close</button>
        </div>
      </div>

      <div class="app-drawer-content">
        <section class="app-section horizontal">
          <section class="app-subsection">
            <label>Birth Date</label>
            <span>{{person.formattedBirth}}</span>
          </section>

          <section class="app-subsection">
            <label>Death Date</label>
            <span>{{person.formattedDeath}}</span>
          </section>
        </section>

        <section class="app-section">
          <label>Description</label>
          <span *ngIf="person.description" [innerHTML]="person.description"></span>
        </section>

        <section class="app-section">
          <label>Source</label>
          <span *ngIf="person.source">{{ person.source.title}}</span>
        </section>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
