<div class="app-body-content">
  <div class="app-content-toolbar">
    <h1>People</h1>

    <div class="app-search-box">
      <mat-form-field>
        <input matInput
               placeholder="Search..."
               name="person_filter"
               [(ngModel)]="filterQuery"
               (keyup.enter)="filterResults()" />
      </mat-form-field>
      <button mat-icon-button class="material-icons mat-icon-button mat-button-base" (click)="filterResults()">search</button>
    </div>

    <button mat-flat-button class="material-icons" color="primary" (click)="createPerson()">add</button>
  </div>

  <div class="app-cards-container">
    <app-person-card
      *ngFor="let person of persons"
      [person]="person"
      [canDelete]="false"
      class="app-card">
    </app-person-card>
  </div>

  <mat-paginator length="{{totalResults}}" pageSize="20" (page)="turnPage($event)"></mat-paginator>
</div>
