<div class="app-drawer-bottom" *ngIf="!isEditMode">
  <div class="app-drawer-bottom-body">
    <div class="app-drawer-bottom-header">
      <div class="app-drawer-title">
        <div class="app-drawer-subheading">
          Event
        </div>
        <div class="app-drawer-heading">
          <a routerLink="{{eventLink}}" (click)="onNoClick()">
              {{data.timelineEvent.event.label}}
            <span class="material-icons">
              launch
            </span>
          </a>
        </div>
        <div class="app-drawer-year">
          <span>{{data.timelineEvent.event.formattedStartYear}}</span>
          <span *ngIf="!data.timelineEvent.event.isSinglePointEvent">- {{data.timelineEvent.event.formattedEndYear}} ({{data.timelineEvent.event.eventLength}} years)</span>
        </div>
      </div>
    </div>

    <div class="app-drawer-content">
      <app-editor class="app-drawer-description" [content]="data.timelineEvent.event.description"></app-editor>
    </div>

    <div class="app-drawer-settings">
      <div class="app-drawer-category">
        <!-- If the event is not assigned to any category -->
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedCategoryId" [(value)]="selectedCategoryId" name="timeline_selected_category" (selectionChange)="addToCategory()">
              <mat-option value="0"></mat-option>
              <mat-option *ngFor="let category of data.timeline.categories" [value]="category.id">{{category.label}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="app-drawer-shadow">
        <mat-checkbox [(ngModel)]="isShadow"
                      (click)="updateShadowState()"
                      #checkbox="matCheckbox">Shadow Event
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
