<div class="app-drawer-bottom" *ngIf="!isEditMode">
  <div class="app-drawer-bottom-body">
    <div class="app-drawer-bottom-header">
      <div class="app-drawer-title">
        <div class="app-drawer-subheading">
          Event
        </div>
        <div class="app-drawer-heading">
          <a routerLink="{{eventLink}}" (click)="onNoClick()">
              {{data.event.label}}
            <span class="material-icons">
              launch
            </span>
          </a>
        </div>
        <div class="app-drawer-year">
          <span>{{data.event.formattedStartYear}}</span>
          <span *ngIf="!data.event.isSinglePointEvent">- {{data.event.formattedEndYear}} ({{data.event.eventLength}} years)</span>
        </div>
      </div>
    </div>

    <div class="app-drawer-content">
      <div class="app-drawer-description">
        {{data.event.description}}
      </div>

      <div class="app-drawer-notes" *ngIf="displayNotes.length">
        <div class="app-drawer-subheading">Notes</div>
        <ul>
          <app-timeline-event-detail-note *ngFor="let note of displayNotes" [note]="note"></app-timeline-event-detail-note>
        </ul>

        <p *ngIf="numberOfAdditionalNotes">{{numberOfAdditionalNotes}} additional note<span *ngIf="numberOfAdditionalNotes > 1">s</span></p>
      </div>

    </div>

    <div class="app-drawer-settings">
      <div class="app-drawer-category">
        <!-- If the event is not assigned to any category -->
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedCategoryId" [(value)]="selectedCategoryId" name="timeline_selected_category" (selectionChange)="addToCategory()">
              <mat-option value="0"></mat-option>
              <mat-option *ngFor="let category of data.timeline.categories" [value]="category.id">{{category.label}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="app-drawer-shadow">
        <mat-checkbox [(ngModel)]="isShadow"
                      (click)="updateShadowState()"
                      #checkbox="matCheckbox">Shadow Event
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
