<header class="app-main-nav">
  <nav>
    <a class="app-name" routerLink="/timelines" (click)="addActiveClass($event)">HDM</a>

    <button mat-icon-button aria-label="Dashboard" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
    </button>

    <button mat-icon-button aria-label="Projects" routerLink="/projects">
      <mat-icon>collections_bookmark</mat-icon>
    </button>

    <button mat-icon-button aria-label="Timelines" routerLink="/timelines">
      <mat-icon>timeline</mat-icon>
    </button>

    <button mat-icon-button aria-label="Essays" routerLink="/essays">
      <mat-icon>assignment</mat-icon>
    </button>

    <button mat-icon-button aria-label="Brainstorms" routerLink="/brainstorming">
      <mat-icon>bubble_chart</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="dataMenu" aria-label="Data">
      <mat-icon>folder_open</mat-icon>
    </button>

    <mat-menu #dataMenu="matMenu">
      <button mat-menu-item routerLink="manager/events">
        <mat-icon>event</mat-icon>
        <span>Events</span>
      </button>

      <button mat-menu-item routerLink="manager/persons">
        <mat-icon>person</mat-icon>
        <span>People</span>
      </button>

      <button mat-menu-item routerLink="manager/charts">
        <mat-icon>pie_chart</mat-icon>
        <span>Charts</span>
      </button>

      <button mat-menu-item routerLink="manager/sources">
        <mat-icon>book</mat-icon>
        <span>Sources</span>
      </button>

      <button mat-menu-item routerLink="manager/authors">
        <mat-icon>local_library</mat-icon>
        <span>Authors</span>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="settingsMenu" aria-label="Logout">
      <mat-icon>settings</mat-icon>
    </button>

    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>eject</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </nav>
</header>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

