<header class="app-main-nav">
  <nav>
    <a class="app-name" routerLink="/timelines" (click)="addActiveClass($event)">HDM</a>
    <li><a routerLink="/timelines" [ngClass]="timelinesLinkActive ? 'active' : ''" (click)="addActiveClass($event)">Timelines</a></li>
    <li><a routerLink="/manager/events" [ngClass]="eventsLinkActive ? 'active' : ''" (click)="addActiveClass($event)">Events</a></li>
    <li><a routerLink="/manager/persons" [ngClass]="personsLinkActive ? 'active' : ''" (click)="addActiveClass($event)">People</a></li>
    <li><a routerLink="/manager/references" [ngClass]="referencesLinkActive ? 'active' : ''" (click)="addActiveClass($event)">References</a></li>
    <li><a routerLink="/manager/authors" [ngClass]="authorsLinkActive ? 'active' : ''" (click)="addActiveClass($event)">Authors</a></li>
  </nav>
</header>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

