@import '../styles/_variables.scss';

.app-sidebar {
  .app-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: $color-darkest;
    margin: 0.5rem 1rem;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  border: 1px solid $color-gray-scale-200;
  .mat-sidenav {
    width: 180px;
    .mat-icon {
      color: $color-brand;
    }
    .mat-list-base .mat-list-item {
      color: $color-gray-scale-500;
    }
  }
  .mat-subheader {
    padding-bottom: 0;
    font-size: 14px;
    color: $color-medium-150;
  }
  .mat-list-base .mat-list-item {
    font-size: 14px
  }
  .mat-list-icon {
    font-size: 20px;
  }
  .mat-list-base .mat-list-item.mat-list-item-with-avatar {
    height: 40px;
  }
}
