<!--<div-->
  <!--class="event"-->
  <!--[ngStyle]="this.positionStyle"-->
  <!--[ngClass]="applyEventClasses()"-->
  <!--(dblclick)="showDetails()"-->
  <!--(click)="toggleSelectEvent()"-->
  <!--(mouseover)="highlightEvent()"-->
  <!--(mouseout)="deHighlightEvent()"-->
  <!--matTooltip="{{event.label}}"-->
  <!--[matTooltipPosition]="eventIconTooltipPosition">-->


<div
  class="event"
  [ngStyle]="this.positionStyle"
  [ngClass]="applyEventClasses()"
  (dblclick)="showDetails()"
  (click)="toggleSelectEvent()"
  (mouseover)="highlightEvent()"
  (mouseout)="deHighlightEvent()"
  matTooltip="{{event.label}}"
  [matTooltipPosition]="eventIconTooltipPosition">
</div>

