//@import '../../../styles/_variables.scss';
@import '../../../styles/_drawer-side.scss';
@import '../../../styles/_sections.scss';
@import '../../../styles/_cards.scss';

p {
  color: $color-darkest;
}

.essay-image {
  width: 100%;
  margin-bottom: 30px;
}

// styles for links in essay content
.essay-reference {
  color: $color-highlight;
}

.essay-event {
  color: green;
}

.essay-person {
  color: purple;
}

.essay-timeline {
  color: red;
}


.app-essay-section {
  margin-bottom: 1rem;

  h2 .material-icons {
    font-size: 0.9em;
  }
}

.app-essay-edit-mode {
  background-color: $color-gray-scale-100;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 1rem 3rem 2rem 3rem;

  .app-content-toolbar {
    margin-bottom: 0;
    h2 {
      flex-grow: 1;
    }
  }
}
