//@import '../../../styles/_variables.scss';
@import '../../../styles/_drawer-side.scss';
@import '../../../styles/_sections.scss';
@import '../../../styles/_cards.scss';

p {
  color: $color-darkest;
}

// styles for links in essay content
.essay-reference {
  color: $color-highlight;
}

.essay-event {
  color: green;
}

.essay-person {
  color: purple;
}

.essay-timeline {
  color: red;
}


.app-essay-section {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0 1rem 0;

  .essay-content {
    line-height: 1.5rem;
  }
}

.app-essay-edit-mode {
  background-color: $color-gray-scale-50;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 1rem 3rem 2rem 3rem;

  .app-content-toolbar {
    margin-bottom: 0;
    h2 {
      flex-grow: 1;
    }
  }
}
