<mat-sidenav-container>
  <div class="app-body-content">

    <div class="app-card-content">
      <div class="app-content-toolbar">
        <h1 *ngIf="essay.title">{{essay.title}}</h1>
        <button mat-flat-button class="material-icons" (click)="toggleContentPanel(essayManager)">{{essayScreenSize}}</button>
      </div>

      <!-- ABSTRACT VIEW-->
      <div class="app-essay-section" *ngIf="!isAbstractEditMode">
          <h2>Abstract
              <button mat-flat-button class="material-icons" *ngIf="!isAbstractEditMode" (click)="setAbstractEditMode()">edit</button>
          </h2>
        <div class="text-intro"><span *ngIf="essay.abstract" [innerHtml]="essay.abstract | safeHtml"></span></div>

      </div>

      <!-- ABSTRACT EDIT-->
      <div *ngIf="isAbstractEditMode" class="app-essay-edit-mode">
        <div class="app-content-toolbar">
          <h2>Abstract</h2>
          <button mat-flat-button class="material-icons" *ngIf="isAbstractEditMode" (click)="saveAbstractContent()">save</button>
          <button mat-flat-button class="material-icons" *ngIf="isAbstractEditMode" (click)="setAbstractViewMode()">close</button>
        </div>

        <div [(froalaModel)]="essay.abstract"
             [froalaEditor]></div>
      </div>


      <!-- ESSAY CONTENT VIEW-->
      <div class="app-essay-section essay-content" *ngIf="!isEssayEditMode" >
          <h2>Content
              <button mat-flat-button class="material-icons" *ngIf="!isEssayEditMode" (click)="setEssayEditMode()">edit</button>
          </h2>
        <div *ngIf="essayContent" [innerHtml]="essayContent | safeHtml"></div>
      </div>


      <!-- ESSAY CONTENT EDIT-->
      <div *ngIf="isEssayEditMode" class="app-essay-edit-mode">
        <div class="app-content-toolbar">
          <h2>Content</h2>
          <button mat-flat-button class="material-icons" *ngIf="isEssayEditMode" (click)="saveEssayContent()">save</button>
          <button mat-flat-button class="material-icons" *ngIf="isEssayEditMode" (click)="setEssayViewMode()">close</button>
        </div>

        <div id="essay-editor"
             (froalaInit)="initializeEssayEditor($event)"
             [(froalaModel)]="essay.essay"
             [froalaEditor]></div>
      </div>
    </div>
  </div>


  <!-- ESSAY RESEARCH -->
  <mat-sidenav #essayManager mode="side" position="end" class="app-drawer">
    <mat-accordion>
      <mat-expansion-panel>
        <!-- Add a new note CTA-->
        <div class="app-section-cta">
            <button mat-flat-button color="secondary" (click)="setAddEssayNoteMode()">+ Add a Note</button>
        </div>

        <mat-expansion-panel-header>
          <mat-panel-title>
            Notes
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Add a new note FORM-->
        <div class="app-card-note" *ngIf="isAddEssayNoteMode">
          <form (ngSubmit)="addNote()" #noteForm="ngForm" class="app-card-note-edit">

            <div class=app-card-note-body-meta>
              <h3>New Note</h3>
              <div class="app-card-note-toolbar">
                  <button mat-flat-button color="primary">Save</button>
                  <button mat-flat-button color="secondary" (click)="cancelAddEssayNoteMode()">Cancel</button>
              </div>
            </div>

            <div class="app-card-note-body-content">
              <div id="essay_note" [(froalaModel)]="essayNote.note"
                [froalaEditor]></div>
              </div>

              <section class="app-section horizontal">
                <section class="app-subsection">
                  <mat-form-field class="app-field-reference">
                    <input
                      type="text"
                      placeholder="Select Source"
                      aria-label="Source"
                      matInput
                      [formControl]="sourcesAutocompleteControl"
                      [matAutocomplete]="auto">

                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySource" (optionSelected)="saveSource()">
                      <mat-option *ngFor="let source of sourcesFilteredOptions | async" [value]="source">
                        {{source.title}} <span *ngIf="source.subTitle">: {{source.subTitle}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </section>

                <section class="app-subsection">
                  <mat-form-field>
                      <input
                        matInput
                        type="text"
                        placeholder="Chapter"
                        name="reference_chapter"
                        [(ngModel)]="essayNote.chapter" />
                    </mat-form-field>
                </section>

                <section class="app-subsection">
                  <mat-form-field class="app-field-page">
                      <input
                        matInput
                        type="number"
                        placeholder="Page"
                        name="reference_page"
                        [(ngModel)]="essayNote.page" />
                    </mat-form-field>
                </section>

              </section>

          </form>
        </div>

        <app-essay-note
          *ngFor="let note of essay.essayNotes"
          [note]="note" [essay]="essay"
          [showToolbar]="true"
          (removeNote)="deleteNote($event)">
        </app-essay-note>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            References
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Add a new reference CTA-->
        <div class="app-section-cta">
          <button mat-flat-button color="secondary" (click)="setAddEssayReferenceMode()">+ Add a Reference</button>
        </div>

        <!-- Add a new reference FORM-->
        <div class="app-card-note" *ngIf="isAddEssayReferenceMode">
          <form (ngSubmit)="addReference()" #referenceForm="ngForm">
            <div class=app-card-note-body-meta>
              <h3>New Reference</h3>
              <div class="app-card-note-toolbar">
                <button type="submit" mat-flat-button color="primary">Save</button>
                <button type="button" mat-flat-button color="secondary" (click)="cancelAddEssayReferenceMode()">Cancel</button>
              </div>
            </div>

            <div class="app-card-note-body-content">
              <section class="app-section horizontal">
                <section class="app-subsection">
                  <mat-form-field class="app-field-reference">
                    <input
                      type="text"
                      placeholder="Select Source"
                      aria-label="Source"
                      matInput
                      [formControl]="sourcesAutocompleteControl"
                      [matAutocomplete]="autoReference">

                    <mat-autocomplete #autoReference="matAutocomplete" [displayWith]="displaySource" (optionSelected)="saveSource()">
                      <mat-option *ngFor="let source of sourcesFilteredOptions | async" [value]="source">
                        {{source.title}} <span *ngIf="source.subTitle">: {{source.subTitle}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </section>

                <section class="app-subsection">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      placeholder="Chapter"
                      name="reference_chapter"
                      [(ngModel)]="essayReference.sourceChapter" />
                  </mat-form-field>
                </section>

                <section class="app-subsection">
                  <mat-form-field class="app-field-page">
                    <input
                      matInput
                      type="number"
                      placeholder="Page"
                      name="reference_page"
                      [(ngModel)]="essayReference.sourcePage" />
                  </mat-form-field>
                </section>
              </section>
            </div>
          </form>
        </div>

        <div>
          <app-essay-reference
            *ngFor="let essayReference of essay.essayReferences"
            [essayReference]="essayReference"
            (referenceSelected)="selectEssayReference(essayReference)"
            (delselectAllEssayReferences)="deselectAllEssayReferences()">
          </app-essay-reference>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Events
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="app-section-cta">
          <button mat-flat-button color="secondary" (click)="setAddEssayEventMode()">+ Add an Event</button>
        </div>

        <div class="app-card-note" *ngIf="isAddEssayEventMode">
          <form (ngSubmit)="addEvent()" #eventForm="ngForm">
            <div class=app-card-note-body-meta>
              <h3>New Event</h3>
              <div class="app-card-note-toolbar">
                <button type="submit" mat-flat-button color="primary">Save</button>
                <button type="button" mat-flat-button color="secondary" (click)="cancelAddEssayEventMode()">Cancel</button>
              </div>
            </div>

            <div class="app-card-note-body-content">
              <section class="app-section horizontal">
                <section class="app-subsection">
                  <mat-form-field class="app-field-reference">
                    <input
                      type="text"
                      placeholder="Select Event"
                      aria-label="Event"
                      matInput
                      [formControl]="eventsAutocompleteControl"
                      [matAutocomplete]="autoEvent">

                    <mat-autocomplete #autoEvent="matAutocomplete" [displayWith]="displayEvent" (optionSelected)="saveEvent()">
                      <mat-option *ngFor="let event of eventsFilteredOptions | async" [value]="event">
                        {{event.label}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </section>
              </section>
            </div>
          </form>
        </div>

        <div>
          <app-essay-event
            *ngFor="let essayEvent of essay.essayEvents"
            [essayEvent]="essayEvent"
            (eventSelected)="selectEssayEvent(essayEvent)"
            (delselectAllEssayEvents)="deselectAllEssayEvents()">
          </app-essay-event>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            People
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="app-section-cta">
          <button mat-flat-button color="secondary" (click)="setAddEssayPersonMode()">+ Add a Person</button>
        </div>

        <div class="app-card-note" *ngIf="isAddEssayPersonMode">
          <form (ngSubmit)="addPerson()" #personForm="ngForm">
            <div class=app-card-note-body-meta>
              <h3>New Person</h3>
              <div class="app-card-note-toolbar">
                <button type="submit" mat-flat-button color="primary">Save</button>
                <button type="button" mat-flat-button color="secondary" (click)="cancelAddEssayPersonMode()">Cancel</button>
              </div>
            </div>

            <div class="app-card-note-body-content">
              <section class="app-section horizontal">
                <section class="app-subsection">
                  <mat-form-field class="app-field-reference">
                    <input
                      type="text"
                      placeholder="Select Person"
                      aria-label="Person"
                      matInput
                      [formControl]="personsAutocompleteControl"
                      [matAutocomplete]="autoPerson">

                    <mat-autocomplete #autoPerson="matAutocomplete" [displayWith]="displayPerson" (optionSelected)="savePerson()">
                      <mat-option *ngFor="let person of personsFilteredOptions | async" [value]="person">
                        {{person.firstName}}
                        <span *ngIf="person.middleName"> {{person.middleName}}</span>
                        <span *ngIf="person.lastName"> {{person.lastName}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </section>
              </section>
            </div>
          </form>
        </div>

        <div>
          <app-essay-person
            *ngFor="let essayPerson of essay.essayPeople"
            [essayPerson]="essayPerson"
            (personSelected)="selectEssayPerson(essayPerson)"
            (delselectAllEssayPersons)="deselectAllEssayPersons()">
          </app-essay-person>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Timelines
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="app-section-cta">
          <button mat-flat-button color="secondary" (click)="setAddEssayTimelineMode()">+ Add a Timeline</button>
        </div>

        <div class="app-card-note" *ngIf="isAddEssayTimelineMode">
          <form (ngSubmit)="addTimeline()" #timelineForm="ngForm">
            <div class=app-card-note-body-meta>
              <h3>New Timeline</h3>
              <div class="app-card-note-toolbar">
                <button type="submit" mat-flat-button color="primary">Save</button>
                <button type="button" mat-flat-button color="secondary" (click)="cancelAddEssayTimelineMode()">Cancel</button>
              </div>
            </div>

            <div class="app-card-note-body-content">
              <section class="app-section horizontal">
                <section class="app-subsection">
                  <mat-form-field class="app-field-reference">
                    <input
                      type="text"
                      placeholder="Select Timeline"
                      aria-label="Timeline"
                      matInput
                      [formControl]="timelinesAutocompleteControl"
                      [matAutocomplete]="autoTimeline">

                    <mat-autocomplete #autoTimeline="matAutocomplete" [displayWith]="displayTimeline" (optionSelected)="saveTimeline()">
                      <mat-option *ngFor="let timeline of timelinesFilteredOptions | async" [value]="timeline">
                        {{timeline.label}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </section>
              </section>
            </div>
          </form>
        </div>

        <div>
          <app-essay-timeline
            *ngFor="let essayTimeline of essay.essayTimelines"
            [essayTimeline]="essayTimeline"
            (timelineSelected)="selectEssayTimeline(essayTimeline)"
            (delselectAllEssayTimelines)="deselectAllEssayTimelines()">
          </app-essay-timeline>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
