<div class="app-drawer-bottom">
  <div class="app-drawer-bottom-body">
    <div class="app-drawer-bottom-header">
      <div class="app-drawer-title">
        <div class="app-drawer-subheading">Person</div>
        <div class="app-drawer-heading">{{data.person.firstName}}
          <span *ngIf="data.person.middleName"> {{data.person.middleName}}</span>
          <span *ngIf="data.person.lastName"> {{data.person.lastName}}</span>
        </div>
        <div class="app-drawer-year">
          {{data.person.formattedBirthYear}} - {{data.person.formattedDeathYear}} ({{data.person.age}} years)
        </div>
      </div>
    </div>

    <div class="app-drawer-content">
      <app-editor *ngIf="data.person.description" class="app-drawer-description" [content]="data.person.description"></app-editor>
    </div>
  </div>
</div>
