<div class="app-drawer-bottom">
  <div class="app-drawer-bottom-body">
    <div class="app-drawer-bottom-header">
      <div class="app-drawer-title">
        <div class="app-drawer-subheading">Person</div>
        <div class="app-drawer-heading">{{data.person.firstName}}
          <span *ngIf="data.person.middleName"> {{data.person.middleName}}</span>
          <span *ngIf="data.person.lastName"> {{data.person.lastName}}</span>
        </div>
        <div class="app-drawer-year">
          {{data.person.formattedBirthYear}} - {{data.person.formattedDeathYear}} ({{data.person.age}} years)
        </div>
      </div>
    </div>

    <div class="app-drawer-content">
      <app-editor *ngIf="data.person.description" class="app-drawer-description" [content]="data.person.description"></app-editor>
      <!--<div class="app-drawer-description" *ngIf="data.person.description">-->
        <!--{{data.person.description}}-->
      <!--</div>-->

      <!--<div class="app-drawer-notes" *ngIf="data.person.notes">-->
        <!--<div class="app-drawer-subheading">Notes</div>-->
        <!--<ul>-->
          <!--<app-timeline-event-detail-note *ngFor="let note of data.person.notes" [note]="note"></app-timeline-event-detail-note>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</div>
