<form #brainstormForm="ngForm">
  <div *ngIf="data.showExisting">
    <div class="app-drawer-header">
      <div class="app-drawer-title">
        <div class="app-drawer-subheading">Brainstorms</div>
      </div>
    </div>

    <div class="app-add-object-overlay">
      <section class="app-section">
        <mat-form-field style="width: 100%">
          <input
            type="text"
            placeholder="Brainstorm"
            matInput
            #brainstormLabelField
            name="existing_brainstorm_title"
            id="existing_brainstorm_title"
            [formControl]="brainstormNameAutocompleteControl"
            [matAutocomplete]="brainstormNameAutoComplete">

          <mat-autocomplete autoActiveFirstOption #brainstormNameAutoComplete="matAutocomplete" (optionSelected)="saveExistingBrainstorm($event.option.value)">
            <mat-option *ngFor="let brainstorm of brainstormNameFilteredOptions | async" [value]="brainstorm">
              {{brainstorm.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </section>
    </div>
  </div>

  <div *ngIf="data.showNew && data.showExisting" class="app-add-object-overlay">
    <div>OR</div>
  </div>

  <div *ngIf="data.showNew">
    <div class="app-drawer-header">
      <div class="app-drawer-title">
        <div class="app-drawer-subheading">New Brainstorm</div>
      </div>
      <div class="app-drawer-tools">
        <button mat-icon-button type="button" class="material-icons" (click)="saveNewBrainstorm()">save</button>
        <button mat-icon-button type="button" class="material-icons" (click)="onNoClick()">close</button>
      </div>
    </div>

    <div class="app-drawer-content">
      <section class="app-section">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="Title"
            name="new_brainstorm_title"
            id="new_brainstorm_title"
            #brainstormTitle="ngModel"
            [(ngModel)]="brainstorm.title" />
        </mat-form-field>
      </section>
    </div>
  </div>
</form>
