<mat-sidenav-container>
  <div class="app-body-content">
    <div class="app-content-toolbar">
      <h1>Sources</h1>
      <button mat-flat-button color="primary" class="material-icons" (click)="createSource()">add</button>
    </div>

    <div class="app-cards-container">
      <app-source-card
        *ngFor="let source of sources" [source]="source"
        (loadSource)="openSourceDetails($event, sourceDetails)"
        class="app-card">
      </app-source-card>
    </div>

    <mat-paginator length="{{totalResults}}" pageSize="20" (page)="turnPage($event)"></mat-paginator>
  </div>

  <mat-sidenav #sourceDetails mode="side" position="end" class="app-drawer">
    <!-- Source Read-Only Mode -->
    <div>
      <div class="app-drawer-header">
        <div class="app-drawer-title">
          <div class="app-drawer-subheading">Source</div>
          <div class="app-drawer-heading">{{source.title}}</div>
          <div class="app-drawer-subtitle" *ngIf="source.subTitle">"{{source.subTitle}}"</div>
        </div>

        <div class="app-drawer-tools">
          <a routerLink="{{sourceLink}}" *ngIf="sourceLink">
            <span class="material-icons mat-icon-button mat-button-base">
              launch
            </span>
          </a>

          <button mat-icon-button class="material-icons" type="button" (click)="removeSource(sourceDetails)">delete</button>
          <button mat-icon-button class="material-icons" (click)="closeSourceDetails(sourceDetails)">close</button>
        </div>
      </div>

      <div class="app-drawer-content">
        <section class="app-section">
          <label>Published Date</label>
          <span *ngIf="source.publishedMonth">{{source.publishedMonth.label}} </span>
          <span *ngIf="source.publishedDay">{{source.publishedDay}}, </span>
          <span>{{source.publishedYear}}</span>
          <span *ngIf="source.publishedEra.label === 'BC'">{{source.publishedEra.label}}</span>
        </section>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

