<mat-sidenav-container>
  <div class="app-body-content">
    <div class="app-content-toolbar">
      <h1>Sources</h1>
      <button mat-flat-button color="primary" class="material-icons" (click)="activateCreateMode(sourceDetails)">add</button>
    </div>

    <div class="app-cards-container">
      <app-source-card
        *ngFor="let source of sources" [source]="source"
        (loadSource)="openSourceDetails($event, sourceDetails, false, false)"
        class="app-card">
      </app-source-card>
    </div>

    <mat-paginator length="{{totalResults}}" pageSize="20" (page)="turnPage($event)"></mat-paginator>
  </div>

  <mat-sidenav #sourceDetails mode="side" position="end" class="app-drawer">
    <!-- Source Read-Only Mode -->
    <div *ngIf="!isEditSourceMode && !isCreateSourceMode">
      <div class="app-drawer-header">
        <div class="app-drawer-title">
          <div class="app-drawer-subheading">Source</div>
          <div class="app-drawer-heading">{{source.title}}</div>
          <div class="app-drawer-subtitle" *ngIf="source.subTitle">"{{source.subTitle}}"</div>

        </div>
        <div class="app-drawer-tools">
          <button mat-icon-button class="material-icons" (click)="isEditSourceMode = true">edit</button>
          <button mat-icon-button class="material-icons" (click)="closeSourceDetails(sourceDetails)">close</button>
        </div>
      </div>

      <div class="app-drawer-content">
        <section class="app-section">
          <label>Published Date</label>
          <span *ngIf="source.publishedMonth">{{source.publishedMonth.label}} </span>
          <span *ngIf="source.publishedDay">{{source.publishedDay}}, </span>
          <span>{{source.publishedYear}}</span>
          <span *ngIf="source.publishedEra.label === 'BC'">{{source.publishedEra.label}}</span>
        </section>

        <section class="app-section">
          <div class="app-section-action">
            <label>Author<span *ngIf="source.authors.length > 1">s</span></label>
            <button mat-icon-button class="material-icons" (click)="isAddAuthorMode = true">add</button>
          </div>

          <div *ngIf="isAddAuthorMode">
            <form (ngSubmit)="createAuthor()" #authorForm="ngForm">
              <mat-form-field style="width: 100%">
                <mat-label>Authors</mat-label>
                <mat-select [(ngModel)]="authorId" name="reference_author">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let author of authors" [value]="author.id">{{author.firstName}} {{author.lastName}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-flat-button color="primary">Save</button>
              <button mat-flat-button color="secondary" (click)="cancelAddAuthorMode()">Cancel</button>
            </form>
          </div>

          <app-author-card *ngFor="let author of source.authors"
                           [author]="author"
                           [isSourceAttachment]="true"
                           (removeAuthorFromSource)="removeAuthor(author)"></app-author-card>
        </section>

        <section class="app-section">
          <div class="app-section-action">
            <label>Notes</label>
            <button mat-icon-button class="material-icons" (click)="activateEventNoteForm()">add</button>
          </div>

          <div *ngIf="isAddNoteMode">
            <form (ngSubmit)="createNote()" #noteForm="ngForm">
              <mat-form-field style="width: 100%">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                  name="reference_note"
                  id="reference_note"
                  [(ngModel)]="sourceNote.note"></textarea>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Chapter"
                  name="reference_chapter"
                  #eventLabel="ngModel"
                  [(ngModel)]="sourceNote.chapter">
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder="Page"
                  name="reference_page"
                  #eventLabel="ngModel"
                  [(ngModel)]="sourceNote.page">
              </mat-form-field>

              <button mat-flat-button color="primary">Save</button>
              <button mat-flat-button color="secondary" (click)="cancelSourceNoteForm()">Cancel</button>
            </form>
          </div>

          <div *ngIf="source.notes && source.notes.length">
            <app-event-note *ngFor="let note of source.notes" [note]="note" (removeNote)="removeNote(note)"></app-event-note>
          </div>
        </section>
      </div>
    </div>

    <!-- Source Edit/Create Mode-->
    <div *ngIf="isEditSourceMode || isCreateSourceMode">
      <form (ngSubmit)="isEditSourceMode ? editSource() : createSource(sourceDetails)" #sourceForm="ngForm">
        <div class="app-drawer-header">

          <div class="app-drawer-title" *ngIf="isEditSourceMode">
            <div class="app-drawer-subheading">Source</div>
            <div class="app-drawer-heading">{{source.title}}</div>
          </div>
          <div class="app-drawer-tools" *ngIf="isEditSourceMode">
            <button mat-icon-button class="material-icons" (click)="removeSource(sourceDetails)">delete</button>
            <button mat-icon-button class="material-icons">save</button>
            <button mat-icon-button class="material-icons" (click)="cancelEditCreateModes(sourceDetails)">close</button>
          </div>

          <div class="app-drawer-title" *ngIf="isCreateSourceMode">
            <div class="app-drawer-subheading">New Source</div>
          </div>
          <div class="app-drawer-tools" *ngIf="isCreateSourceMode">
            <button mat-icon-button class="material-icons">save</button>
            <button mat-icon-button class="material-icons" (click)="cancelEditCreateModes(sourceDetails)">close</button>
          </div>

        </div>

        <div class="app-drawer-content">
          <section class="app-section">
            <mat-form-field style="width: 100%">
              <input
                matInput
                placeholder="Title"
                required
                name="reference_title"
                id="reference_title"
                #eventLabel="ngModel"
                [(ngModel)]="source.title" />
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <input
                matInput
                placeholder="Sub Title"
                name="reference_sub_title"
                #eventLabel="ngModel"
                [(ngModel)]="source.subTitle" />
            </mat-form-field>
          </section>

          <section class="app-section">
            <mat-form-field>
                <input
                  matInput
                  placeholder="Published Day"
                  name="reference_published_day"
                  [(ngModel)]="source.publishedDay" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Published Month</mat-label>
                <mat-select [(ngModel)]="publishedMonthLabel" name="reference_published_month">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let month of months" [value]="month.label">{{month.label}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Published Year"
                  name="reference_published_year"
                  required
                  [(ngModel)]="source.publishedYear" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Published Era</mat-label>
                <mat-select [(ngModel)]="publishedEraLabel" name="reference_published_era" required>
                  <mat-option *ngFor="let era of eras" [value]="era.label">{{era.label}}</mat-option>
                </mat-select>
              </mat-form-field>
          </section>

        </div>
      </form>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

