<form (ngSubmit)="createPerson(personForm)" #personForm="ngForm">
  <div>
    <span>First Name: </span>
    <input
      type="text"
      placeholder="First Name"
      name="person_first_name"
      required
      #personFirstName="ngModel"
      [(ngModel)]="person.firstName">

    <div *ngIf="personFirstName.dirty && personFirstName.errors && personFirstName.errors.required">
      Person First Name is mandatory.
    </div>
  </div>

  <div>
    <span>Middle Name: </span>
    <input
      type="text"
      placeholder="Middle Name"
      name="person_middle_name"
      #personMiddleName="ngModel"
      [(ngModel)]="person.middleName">
  </div>

  <div>
    <span>Last Name: </span>
    <input
      type="text"
      placeholder="Last Name"
      name="person_last_name"
      #personLastName="ngModel"
      [(ngModel)]="person.lastName">
  </div>

  <div>
    <span>Birth Day: </span>
    <input
      type="number"
      placeholder="Birth Day"
      name="person_birth_day"
      max="31"
      min="1"
      #personBirthDay="ngModel"
      [(ngModel)]="person.birthDay">
  </div>

  <div>
    <div>Birth Month: </div>
    <div>
      <select name="person_birth_month" [(ngModel)]="person.birthMonth">
        <option *ngFor="let month of months" [ngValue]="month">{{month.label}}</option>
      </select>
    </div>
  </div>

  <div>
    <span>Birth Year: </span>
    <input
      type="number"
      name="person_birth_year"
      required
      #personBirthYear="ngModel"
      [(ngModel)]="person.birthYear">

    <div *ngIf="personBirthYear.dirty && personBirthYear.errors && personBirthYear.errors.required">
      Birth Year is required.
    </div>
  </div>

  <div>
    <div>Birth Era</div>
    <select name="person_birth_era" [(ngModel)]="person.birthEra">
      <option *ngFor="let era of eras" [ngValue]="era">{{era.label}}</option>
    </select>
  </div>

  <div>
    <span>Death Day: </span>
    <input
      type="number"
      placeholder="Death Day"
      name="person_death_day"
      max="31"
      min="1"
      #personDeathDay="ngModel"
      [(ngModel)]="person.deathDay">
  </div>

  <div>
    <div>Death Month: </div>
    <div>
      <select name="person_death_month" [(ngModel)]="person.deathMonth">
        <option *ngFor="let month of months" [ngValue]="month">{{month.label}}</option>
      </select>
    </div>
  </div>

  <div>
    <span>Death Year: </span>
    <input
      type="number"
      name="person_death_year"
      required
      #personDeathYear="ngModel"
      [(ngModel)]="person.deathYear">

    <div *ngIf="personDeathYear.dirty && personDeathYear.errors && personDeathYear.errors.required">
      Death Year is required.
    </div>
  </div>

  <div>
    <div>Death Era</div>
    <select name="person_death_era" [(ngModel)]="person.deathEra">
      <option *ngFor="let era of eras" [ngValue]="era">{{era.label}}</option>
    </select>
  </div>

  <div>
    <div>Reference</div>
    <select name="person_reference" [(ngModel)]="person.reference">
      <option *ngFor="let reference of references" [ngValue]="reference">{{reference.title}} - {{ reference.authors[0].firstName }} {{ reference.authors[0].lastName }}</option>
    </select>
  </div>

  <div>
    <button type="submit">Create</button>
  </div>
</form>
