<form #sourceForm="ngForm">
  <h2 mat-dialog-title>New Source</h2>
  
  <mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%">
        <input
          type="text"
          placeholder="Title"
          matInput
          #sourceTitleField
          name="source_title"
          id="source_title"
          (focusout)="saveSourceTitle(sourceTitleField.value)"
          [formControl]="sourcesAutocompleteControl"
          [matAutocomplete]="sourceTitleAutoComplete">

        <mat-autocomplete #sourceTitleAutoComplete="matAutocomplete" [displayWith]="displaySource" (optionSelected)="saveSourceTitle(null)">
          <mat-option *ngFor="let source of sourcesFilteredOptions | async" [value]="source">
            {{source.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Subtitle"
          name="source_subtitle"
          [(ngModel)]="source.subTitle" />
      </mat-form-field>

      <mat-form-field style="width: 100%" class="app-field-year">
        <input
          matInput
          placeholder="Published Year"
          name="source_published_year"
          required
          [(ngModel)]="source.publishedYear"/>
      </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="button" [mat-dialog-close]="source">Save</button>
    <button mat-flat-button type="button" (click)="onNoClick()">Cancel</button>
  </mat-dialog-actions>
</form>
